
<div id="home-background"></div>

<form id="home-search-form" action="/artists" , method="GET">
    <input type="text" name="name" placeholder="Search for an Artist!">
    <button type="submit">Search for an Artist</button>
</form>

</div> 

